<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BFXR1G6RK2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-BFXR1G6RK2');
	</script>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Christopher McCoy</title>

	<link rel="icon" href="img/myLogo.png">

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="css/linearicons.css">
	<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/616440489d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/myCustom.css">
	<link rel="stylesheet" type="text/css" href="css/animations.css">
	<link rel="stylesheet" type="text/css" href="css/animations-ie-fix.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
	<section class="banner-area" id="home">
		<header class="default-header navbar-fixed-top">
			<nav class="navbar navbar-expand-lg  navbar-light">
				<div class="container">
					<a style="text-transform: uppercase;font-weight: 600;color: #fff;max-width:60%;"
						class="navbar-brand" href="#home">
						<img class="myLogo" style="width:50px;" src="img/myLogo.png" alt="">
						<span class="my-name">Christopher McCoy</span>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="text-white lnr lnr-menu"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end
align-items-center" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="myDis"><a href="#home">Home</a></li>
							<!-- <li class="myDis"><a href="#service">Service</a></li> -->
							<!-- <li class="myDis"><a href="#about">About</a></li> -->
							<li class="myDis"><a href="#testimonials">Testimonials</a></li>
							<li id="projectTag" class="myDis"><a href="#project">Projects</a></li>
							<li class="myDis"><a href="https://www.linkedin.com/in/christopher-mccoy-8a3131147/"><i
										style="font-size: 25px;" class="fab fa-linkedin"></i></a></li>
							<li class="myDis"><a href="https://github.com/mccoywebdevelopment"><i
										style="font-size: 25px;" class="fab fa-github-square"></i></a></li>

						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="container">
			<div id="call-to-action" class="row justify-content-start align-items-center"
				style="padding-top:13em;padding-bottom:3em">
				<div class="col-lg-6 col-md-12" style="padding-bottom: 6em;">
					<div class="col-lg-12">
						<span class="text-white">Christopher McCoy</span>
					</div>
					<div class="col-lg-12">
						<h1 class="text-white">Full Stack Developer</h1>
					</div>
					<div class="col-lg-12">
						<p class="mx-auto text-white  mt-20 mb-40">
							Looking for a full stack developer?<br> Search no further because I am
							ready for your next big project!
						</p>
					</div>
					<div class="col-lg-12">
						<a href="https://www.linkedin.com/in/christopher-mccoy-8a3131147/" style="margin-left:0px"
							class="text-uppercase header-btn">Let's
							Talk</span></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 text-center my-gif">
					<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_d4kjaegd.json"
						background="transparent" speed="1"
						style="width: 300px; height: 300px; margin:auto; margin-top:-3em" loop autoplay></lottie-player>
				</div>
			</div>
		</div>
	</section>
	<section class="about-area pt-100" id="testimonials">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">What people are saying about me.</h1>
					</div>
				</div>
			</div>

			<div class="my-slides">

				<div class="card card-test" style="padding:10px;text-align: center;margin-bottom: 40px;">
					<i style="font-size: 40px;color:#203A43;margin-top:10px;margin-bottom:10px"
						class="fas fa-quote-right"></i>
					<div class="card-body card-body-test" style="color: #222222;font-weight:500;">
						I have had the pleasure of working with Chris on multiple projects! I own Phaser
						Marketing and we are always looking for talented individuals. Chris checked every
						box for us as a web developer and is such a pleasant guy to work with. I can’t say
						enough about his character and his coding skills. He’s the man!
					</div>

					<a href="https://www.linkedin.com/in/luke-eggebraaten/"><img class="test-pic test-pic-2"
							style="border-radius: 50%;width: 20%;"
							src="https://media-exp1.licdn.com/dms/image/C4E0BAQHmsNPph3SE5Q/company-logo_100_100/0/1587044106619?e=1654732800&v=beta&t=P0GFDxdoKAWlKn7BxJ3XJBXaWWMFyWC1L8xwGZkeii8"></a>

					<p class="card-body"
						style="font-weight: 500;font-size: 15px;color: #222222;margin-bottom:0px;padding-bottom:0px;">
						Luke Eggebraaten</p>
					<p class="card-body" style="font-weight: 500;padding:0px">Managing Partner at Phaser Marketing</p>
				</div>

				<div class="card card-test" style="padding:10px;text-align: center;margin-bottom: 40px;">
					<i style="font-size: 40px;color:#203A43;margin-top:10px;margin-bottom:10px"
						class="fas fa-quote-right"></i>
					<div class="card-body card-body-test" style="color: #222222;font-weight:500;">
						Chris is a true professional. He takes his time to make sure he fully understands all
						the requirements of the project and always delivers. He keeps you updated and works
						with you to make sure you're getting exactly what you want. Great working with him!
					</div>

					<a href="https://www.linkedin.com/in/brianquinn28/"><img class="test-pic test-pic-2"
							style="border-radius: 50%;width: 20%;" src="img/brian_quinn.jpeg"></a>

					<p class="card-body"
						style="font-weight: 500;font-size: 15px;color: #222222;margin-bottom:0px;padding-bottom:0px;">
						Brian Quinn</p>
					<p class="card-body" style="font-weight: 500;padding:0px">Founder at Learnshare</p>
				</div>

				<div class="card card-test" style="padding:10px;text-align: center;">
					<i style="font-size: 40px;color:#203A43;margin-top:10px;margin-bottom:10px"
						class="fas fa-quote-right"></i>
					<div class="card-body card-body-test" style="color: #222222;font-weight:500;">
						Christopher was such a pleasure to work with. I am so please with the outcome of the
						addition he was able to make to my website and he was super easy to work with. I would
						definitely recommend him to anyone in need of any custom coding on their website. Thank you
						thank you!
					</div>

					<a href="https://www.linkedin.com/in/brooke-lea-wood-6a5389b0/"><img class="test-pic test-pic-1"
							style="border-radius: 50%;width: 20%;" src="img/brooke_wood.jpeg"></a>

					<p class="card-body"
						style="font-weight: 500;font-size: 15px;color: #222222;margin-bottom:0px;padding-bottom:0px;">
						Brooke Wood</p>
					<p class="card-body" style="font-weight: 500;padding:0px">Website Designer</p>
				</div>

				<div class="card card-test" style="padding:10px;text-align: center;margin-bottom: 40px;">
					<i style="font-size: 40px;color:#203A43;margin-top:10px;margin-bottom:10px"
						class="fas fa-quote-right"></i>
					<div class="card-body card-body-test" style="color: #222222;font-weight:500;">
						Chris really takes the time to listen to our needs and has the ability to develop
						apps that work just how we envision them. More importantly, he then takes our
						limited vision and expands it with his own insight enabling us to have a product
						that is better than we imagined or hoped for. He is at the top of my developer recommendation
						list!
					</div>

					<a href="https://www.linkedin.com/in/rob-scharret-4990589/"><img class="test-pic test-pic-2"
							style="border-radius: 50%;width: 20%;" src="img/sunshine.png"></a>

					<p class="card-body"
						style="font-weight: 500;font-size: 15px;color: #222222;margin-bottom:0px;padding-bottom:0px;">
						Rob Scharret</p>
					<p class="card-body" style="font-weight: 500;padding:0px">Services Director at Sunshine
						Acres</p>
				</div>

			</div>

		</div>
	</section>

			<%- include services.ejs %>
			<%- include projects.ejs %>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/css3-animate-it.js"></script>
		<script defer data-domain="mccoywebdevelopment.com" src="https://plausible.io/js/plausible.js"></script>
		<script type="text/javascript"
			src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script src="js/clientForm.js"></script>
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>