<section class="project-area section-ga myBigScreen pt-100" id="project" style="padding-bottom:100px">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mt-20">Latest Projects</h1>
                </div>
            </div>
        </div>

        <div class="row pb-100">
            <div class="col-lg-6">
                <div class="single-project">
                    <div class="img-container">
                        <img class="img-fluid" src="img/projects/upsell.png" alt="">
                        <div class="img-contents centered" style="display:none">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://apothekary.co/pages/auth?subpath=login"
                                class="text-uppercase header-btn project-btn" style="cursor:pointer">View<i
                                    style="margin-left:10px" class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-project">
                    <h4 class="pb-30">Upsell</h4>
                    <p>
                        Created Upsell which encourages users to increase their order value by aquiring discounts in each teir.
                        Customers are propted to buy not only the item they are primarily
                        looking for, but also include related products and accessories.
                        This led to increase the average order value (AOV) -
                        while keeping customer acquistion cost static. 
                    </p>
                    <p class="tech mb-0">
                        Technologies:
                        <span style="display:block;font-size:50px">
                            <i data-toggle="tooltip" title="Shopify Liquid" class="fab fa-shopify"></i>
                            <i data-toggle="tooltip" title="React" class="fab fa-react"></i>
                        </span>
                    </p>
                </div>
            </div>

        </div>


        <div class="row pb-100">
            <div class="col-lg-6">
                <div class="single-project">
                    <h4 class="pb-30">Bangin' Empire Shopify Application</h4>
                    <p>
                        Connected tens of thousands of fans to help support their favorite YouTube channel <a
                            href="https://www.youtube.com/channel/UCfihcdpd289C-VQROTFnUUw">Hangin' W Bangin</a>.
                        Accomplished this task by developing a responsive design that supports both mobile and
                        desktop devices. User experience was heavily influenced in the decision of designing custom
                        JavaScript functions to enable/disable popups as well as scrolling effects.
                    </p>
                    <p class="tech mb-0">
                        Technologies:
                        <span style="display:block;font-size:50px">
                            <i data-toggle="tooltip" title="Shopify Liquid" class="fab fa-shopify"></i>
                            <i data-toggle="tooltip" title="HTML 5" style="margin-left:20px" class="fab fa-html5"></i>
                            <i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
                            <i data-toggle="tooltip" title="JavaScript" style="margin-left:20px" class="fab fa-js"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-md-1">
                <div class="single-project">
                    <div class="img-container">
                        <img class="img-fluid" src="img/projects/bangin-empire-shopify.png" alt="">
                        <div class="img-contents centered" style="display:none">
                            <a target="_blank" rel="noopener noreferrer" href="https://shopbanginempire.com/"
                                class="text-uppercase header-btn project-btn" style="cursor:pointer">View<i
                                    style="margin-left:10px" class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-100">
            <div class="col-lg-6">
                <div class="single-project">
                    <div class="img-container">
                        <img class="img-fluid" src="img/projects/subscription-portal.png" alt="">
                        <div class="img-contents centered" style="display:none">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://apothekary.co/pages/auth?subpath=login"
                                class="text-uppercase header-btn project-btn" style="cursor:pointer">View<i
                                    style="margin-left:10px" class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-project">
                    <h4 class="pb-30">Subscription Portal</h4>
                    <p>
                        A subscription portal that uses Recharge API to let customers manager their orders. 
                        Customer can easy add/edit/delete their subscriptions with ease. After launch the number
                        of customer tickets pertaining to managing thier subscription order went down significantly. 

                    </p>

                        
                    <p class="tech mb-0">
                        Technologies:
                        <span style="display:block;font-size:50px">
                            <i data-toggle="tooltip" title="Shopify Liquid" class="fab fa-shopify"></i>
                            <i data-toggle="tooltip" title="React" class="fab fa-react"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="row pb-100">
            <div class="col-lg-6">
                <div class="single-project">
                    <h4 class="pb-30">Medical Dashboard</h4>
                    <p>
                        A MERN stack application which I donated to a local children's home Sunshine Acres. In this
                        application parents and nurses can easily create, update children's medical records fast and
                        securely. It also incorporates an email authentication system where admins can add users to
                        their environment.
                    <p class="tech mb-0">
                        Technologies:
                        <span style="display:block;font-size:50px">
                            <i data-toggle="tooltip" title="React" class="fab fa-react"></i>
                            <i data-toggle="tooltip" title="Node.js" style="margin-left:20px" class="fab fa-node"></i>
                            <i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
                            <i data-toggle="tooltip" title="Email Token Auth" style="margin-left:20px"
                                class="fas fa-shield-alt"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-md-1">
                <div class="single-project">
                    <div class="img-container">
                        <img class="img-fluid" src="img/projects/med-app.png" alt="">
                        <div class="img-contents centered" style="display:none">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://github.com/mccoywebdevelopment/Med-App"
                                class="text-uppercase header-btn project-btn" style="cursor:pointer;margin-left:20px">
                                View Source Code
                                <i style="margin-left:10px" class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-100">
            <div class="col-lg-6">
                <div class="single-project">
                    <div class="img-container">
                        <img class="img-fluid" src="img/projects/inside-scoop.png" alt="">
                        <div class="img-contents centered" style="display:none">
                            <a target="_blank" rel="noopener noreferrer" href="https://apothekary.co/pages/inside-scoop"
                                class="text-uppercase header-btn project-btn" style="cursor:pointer">View<i
                                    style="margin-left:10px" class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-project">
                    <h4 class="pb-30">Inside Scoop Landing Page</h4>
                    <p>
                        A UX stunning landing page that is completely custimizable with Contentful's API. The result of the
                        project was to create a seasonal landing page to help drive conversions. Every font, color, text, and asset 
                        is completely customizable which helps reduce developer cost after launch.
                    </p>
                    <p class="tech mb-0">
                        Technologies:
                        <span style="display:block;font-size:50px">
                            <i data-toggle="tooltip" title="Shopify Liquid" class="fab fa-shopify"></i>
                            <i data-toggle="tooltip" title="React" class="fab fa-react"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="row pb-100">
            <div class="col-lg-6">
                <div class="single-project">
                    <h4 class="pb-30">Learnshare Chat Application</h4>
                    <p>
                        This application is design to send/receive messages, posts, and polls from students and
                        teachers. This was accomplished with a custom messaging API system that integrated socket.io
                        an npm package. To establish end-to-end encryption the API would receive a unique firebase
                        token from the client then challenged.

                    <p class="tech mb-0">
                        Technologies:
                        <span style="display:block;font-size:50px">
                            <i data-toggle="tooltip" title="Angular" class="fab fa-angular"></i>
                            <i data-toggle="tooltip" title="Node.js" style="margin-left:20px" class="fab fa-node"></i>
                            <i data-toggle="tooltip" title="Gitlab" style="margin-left:20px" class="fab fa-gitlab"></i>
                            <i data-toggle="tooltip" title="Firebase" style="margin-left:20px"
                                class="fas fa-fire-alt"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-md-1">
                <div class="single-project">
                    <div class="img-container">
                        <img class="img-fluid" src="img/projects/learnshare.png" alt="">
                        <div class="img-contents centered" style="display:none">
                            <a target="_blank" rel="noopener noreferrer"
                                href="https://github.com/mccoywebdevelopment/learnshare-chat-api"
                                class="text-uppercase header-btn project-btn" style="cursor:pointer;margin-left:20px">
                                View Source Code
                                <i style="margin-left:10px" class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="load-all-content">


            <div class="row pb-100">
                <div class="col-lg-6">
                    <div class="single-project">

                        <img class="img-fluid" src="img/projects/xo8-form.PNG" alt="">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-project">
                        <h4 class="pb-30">XO8COSMECEUTICALS Form</h4>
                        <p>
                            A form that submits data to two 3rd party services such as Drip and FormSpree.This was
                            accomplished by sending the 3rd party data before and after form submission using
                            webhooks.

                        <p class="tech mb-0">
                            Technologies:
                            <span style="display:block;font-size:50px">
                                <i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
                                    class="fab fa-html5"></i>
                                <i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
                                <i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
                                    class="fab fa-js"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row pb-100">
                <div class="col-lg-6">
                    <div class="single-project">
                        <h4 class="pb-30">Google Maps Dynamic Marker Plugin</h4>
                        <p>
                            A Node.js application that allows users to create fully customizable
                            maps for their businesses with a simple and unique map editor.
                            One of the many features of GMAPS is that users have access to their old map
                            via the user dashboard.

                        <p class="tech mb-0">
                            Technologies:
                            <span style="display:block;font-size:50px">
                                <i data-toggle="tooltip" title="Node.js" class="fab fa-node"></i>
                                <i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
                                    class="fab fa-html5"></i>
                                <i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
                                <i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
                                    class="fab fa-js"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 order-md-1">
                    <div class="single-project">
                        <div class="img-container">
                            <div class="img-container">
                                <img class="img-fluid" src="img/projects/gmaps.png" alt="">
                                <div class="img-contents centered" style="display:none">
                                    <a target="_blank" rel="noopener noreferrer"
                                        href="https://github.com/mccoywebdevelopment/google-maps-plugin"
                                        class="text-uppercase header-btn project-btn"
                                        style="cursor:pointer;margin-left:20px">
                                        View Source Code
                                        <i style="margin-left:10px" class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-100">
                <div class="col-lg-6">
                    <div class="single-project">
                        <div class="img-container">
                            <img class="img-fluid" src="img/projects/cash-app.png" alt="">
                            <div class="img-contents centered" style="display:none">
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://github.com/mccoywebdevelopment/cash-app"
                                    class="text-uppercase header-btn project-btn"
                                    style="cursor:pointer;margin-left:20px">
                                    View Source Code
                                    <i style="margin-left:10px" class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-project">
                        <h4 class="pb-30">Ecommerce Application</h4>
                        <p>
                            An eCommerce single page application that was built using a MERN stack(Mongo,
                            Express.js, React, Node.js). It also incorporates JWT authentication, a custom routing
                            system, and integrated Stripe.js payments.

                        <p class="tech mb-0">
                            Technologies:
                            <span style="display:block;font-size:50px">
                                <i data-toggle="tooltip" title="React" class="fab fa-react"></i>
                                <i data-toggle="tooltip" title="Node.js" style="margin-left:20px"
                                    class="fab fa-node"></i>
                                <i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
                                    class="fab fa-html5"></i>
                                <i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
                                <!-- <i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
class="fab fa-js"></i> -->
                            </span>
                        </p>
                    </div>
                </div>

            </div>

            <div class="row pb-100">
                <div class="col-lg-6">
                    <div class="single-project">
                        <h4 class="pb-30">Wordpress Opt In Form</h4>
                        <p>
                            A WordPress site that uses sends users email updates when they enter their basic
                            information into the customized opt-in form. This was accomplished with a WordPress
                            widget plugin and some custom javascript and CSS.

                        <p class="tech mb-0">
                            Technologies:
                            <span style="display:block;font-size:50px">
                                <i data-toggle="tooltip" title="HTML 5" style="margin-left:20px"
                                    class="fab fa-html5"></i>
                                <i data-toggle="tooltip" title="CSS 3" style="margin-left:20px" class="fab fa-css3"></i>
                                <i data-toggle="tooltip" title="JavaScript" style="margin-left:20px"
                                    class="fab fa-js"></i>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 order-md-1">
                    <div class="single-project">
                        <img class="img-fluid" src="img/projects/magic-form.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <button style="margin-left:15px" class="text-uppercase header-btn load-all" id="load-all-btn">
                View All</button>
        </div>
    </div>
</section>