<section id="services" class="qualification-area pt-100 pb-80">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-20 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Services</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-6 qty-left">
                <div class="single-qly">
                    <h3 class="text-uppercase"></h3>
                    <h4 class="pt-20 pb-20">WEB + MOBILE APPS</h4>
                    <ul class="my-ul">
                        <li>
                            Whether you're interested in building data-driven B2B web apps or consumer mobile apps, I believe taking a user-centered approach to building products will provide value to users and businesses.
                        </li>
                    </ul>
                </div>
                <div class="btm-border d-block mx-auto"></div>
                <div class="single-qly">
                    <h3 class="text-uppercase"></h3>
                    <h4 class="pt-20 pb-20">UI/UX Design</h4>
                    <ul class="my-ul">
                        <li>
                            Whether you need an app designed from scratch or an upgrade for an existing interface, I can help you create something that is completely unique and personal for your brand.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 qty-right">
                <div class="single-qly">
                    <h3 class="text-uppercase"></h3>
                    <h4 class="pt-20 pb-20">Technology Expertise</h4>
                    <ul class="my-ul">
                        <li>
                            The world changes fast, especially in the world of technology. I can help you find the best technology that scales as you grow your busniess.
                        </li>
                    </ul>
                </div>
                <div class="btm-border d-block mx-auto"></div>
                <div class="single-qly">
                    <h3 class="text-uppercase"></h3>
                    <h4 class="pt-20 pb-20">Agile Development</h4>
                    <ul class="my-ul">
                        <li>
                            An Agile approach allows us to develop high-quality software that meets the changing needs of stakeholders while maintaining cost-effectiviness. I also help clients build Agile capabilities and implement Agile concepts and methodologies.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>